$TTL 1D
@   IN SOA  dns.{{ guid }}.dynamic.redhatworkshops.io.  root.dns.{{ guid }}.dynamic.redhatworkshops.io. (
                                        2020012511      ; serial
                                        1D              ; refresh
                                        1H              ; retry
                                        1W              ; expire
                                        3H )            ; minimum
@       IN      NS      dns.{{ guid }}.dynamic.redhatworkshops.io.
ocp.    IN      NS      dns.{{ guid }}.dynamic.redhatworkshops.io.
2      IN    PTR    dns.{{ guid }}.dynamic.redhatworkshops.io.
10     IN    PTR    ns1.{{ guid }}.dynamic.redhatworkshops.io.
111     IN    PTR    api.{{ guid }}.dynamic.redhatworkshops.io.
100     IN    PTR    master-0.{{ guid }}.dynamic.redhatworkshops.io.
101     IN    PTR    master-1.{{ guid }}.dynamic.redhatworkshops.io.
102     IN    PTR    master-2.{{ guid }}.dynamic.redhatworkshops.io.
200     IN    PTR    worker-0.{{ guid }}.dynamic.redhatworkshops.io.
201     IN    PTR    worker-1.{{ guid }}.dynamic.redhatworkshops.io.
202     IN    PTR    worker-2.{{ guid }}.dynamic.redhatworkshops.io.
203     IN    PTR    worker-3.{{ guid }}.dynamic.redhatworkshops.io.
204     IN    PTR    worker-4.{{ guid }}.dynamic.redhatworkshops.io.
205     IN    PTR    worker-5.{{ guid }}.dynamic.redhatworkshops.io.
206     IN    PTR    worker-6.{{ guid }}.dynamic.redhatworkshops.io.
207     IN    PTR    worker-7.{{ guid }}.dynamic.redhatworkshops.io.
208     IN    PTR    worker-8.{{ guid }}.dynamic.redhatworkshops.io.
209     IN    PTR    worker-9.{{ guid }}.dynamic.redhatworkshops.io.
210     IN    PTR    worker-10.{{ guid }}.dynamic.redhatworkshops.io.
211     IN    PTR    worker-11.{{ guid }}.dynamic.redhatworkshops.io.
212     IN    PTR    worker-12.{{ guid }}.dynamic.redhatworkshops.io.
213     IN    PTR    worker-13.{{ guid }}.dynamic.redhatworkshops.io.
